django>=1.5
django-auth-ldap>=1.1.4
django-compressor>=1.3
django-discover-runner>=1.0
django-otp>=0.1.7
git+https://github.com/tampakrap/django-ldapdb@okupy#egg=django-ldapdb
edpwd>=0.0.7
mock>=1.0.1
hg+https://bitbucket.org/psagers/mockldap#egg=mockldap
passlib>=1.6.1
pyopenssl>=0.13
python-ldap>=2.4.10
python-memcached>=1.53
python-openid>=2.2.5
qrcode>=3.0
