django>=1.5
# temporarily use tampakrap's fork until our patches get accepted
#django-auth-ldap>=1.1.4
hg+https://bitbucket.org/tampakrap/django-auth-ldap@mockldap_v2#egg=django-auth-ldap-1.1.4.0.1
edpwd>=0.0.1
mock>=1.0.1
passlib>=1.6.1
python-ldap>=2.4.10
python-openid>=2.2.5
