# vim:fileencoding=utf8:et:ts=4:sts=4:tw=4:ft=python

# Sample configuration file for okupy project.
# Rename it to local.py and change accordingly the vars

# The listed admins will receive mail notifications
ADMINS = (
    ('admin', 'admin@example.com'),
)

# Select "True" for development environment, "False" for production environment
DEVELOPMENT = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': '',                      # Or path to database file if using sqlite3.
        # The following settings are not used with sqlite3:
        'USER': '',
        'PASSWORD': '',
        'HOST': '',                      # Empty for localhost through domain sockets or '127.0.0.1' for localhost through TCP.
        'PORT': '',                      # Set to empty string for default.
    }
}

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'secret'

# Variables regarding email sending (host, credentials)
# SERVER_EMAIL = 'user@localhost'
# EMAIL_HOST = 'localhost'
# EMAIL_PORT = '25'
# EMAIL_HOST_USER = 'user'
# EMAIL_HOST_PASSWORD = 'secret'
# EMAIL_USE_TLS = False

# LDAP settings

import ldap

AUTH_LDAP_SERVER_URI = 'ldap://ldap.example.com'

AUTH_LDAP_CONNECTION_OPTIONS = {
    ldap.OPT_REFERRALS: 0,
    ldap.OPT_X_TLS_DEMAND: False,
}

AUTH_LDAP_BIND_DN = ''
AUTH_LDAP_BIND_PASSWORD = ''

AUTH_LDAP_ADMIN_BIND_DN = ''
AUTH_LDAP_ADMIN_BIND_PASSWORD = ''

AUTH_LDAP_USER_ATTR = 'uid'
AUTH_LDAP_USER_BASE_DN = 'ou=people,o=test'
AUTH_LDAP_USER_DN_TEMPLATE = AUTH_LDAP_USER_ATTR + '=%(user)s,' + AUTH_LDAP_USER_BASE_DN

AUTH_LDAP_PERMIT_EMPTY_PASSWORD = False

AUTH_LDAP_START_TLS = False

#AUTH_LDAP_GROUP_SEARCH
#AUTH_LDAP_GROUP_TYPE
#AUTH_LDAP_REQUIRE_GROUP
#AUTH_LDAP_DENY_GROUP
#AUTH_LDAP_CACHE_GROUPS
#AUTH_LDAP_GROUP_CACHE_TIMEOUT
#AUTH_LDAP_FIND_GROUP_PERMS

#AUTH_LDAP_USER_FLAGS_BY_GROUP = {
    #'is_active': '',
    #'is_staff': '',
    #'is_superuser': '',
#}

#AUTH_LDAP_PROFILE_FLAGS_BY_GROUP = {}

AUTH_LDAP_USER_OBJECTCLASS = ["person", "organizationalPerson", "inetOrgPerson", "posixAccount"]
