{% extends "openid/template.html" %}

{% block title %}Sign in :: identity.gentoo.org{% endblock %}

{# hide login info #}
{% block login %}{% endblock %}

{% block content %}
	<div class='wnd'>
		<h2>Note</h2>

		{% if request.session.openid_request %}

			<p>
				This session is a part of an OpenID authentication request
				to {{ request.session.openid_request.trust_root }}.
			</p>

			<p>
				After successful login, any preset trust rules <em>may</em>
				be applied, resulting in immediate acceptance of the request
				and redirect to the submitter.
			</p>

		{% else %}

			<p>
				This session is <em>not</em> a part of an OpenID authentication
				request.
			<p>

			<p>
				After successful login, you will be redirected to the account
				settings page. No information will be sent to a third-party
				server.
			</p>

		{% endif %}
	</div>

	{% if form.errors %}
		{# XXX: do we want more fine-grained errors? it's either #}
		{# 'login failed', empty username or empty password. #}

		<div class='wnd error'>
			<h2>Error</h2>

			<p>
				The authentication has failed. Please ensure that you
				entered a correct username and password.
			<p>

			<p>
				Please note that the password field is case-sensitive. 
			</p>
		</div>
	{% endif %}

	<div class='wnd'>
		<h2>Sign in</h2>

		<form method='post' action='{% url 'openid.login' %}'>
			{% csrf_token %}
			<input type='hidden' name='next' value='{% spaceless %}
				{% if next %}
					{{ next }}
				{% else %}
					{# XXX: change this to account info page when ready #}
					{% url 'openid.index' %}
				{% endif %}
			{% endspaceless %}' />

			{# XXX: get rid of tables #}
			<table>
				<tr>
					<td>{{ form.username.label_tag }}</td>
					<td>{{ form.username }}</td>
				</tr>

				<tr>
					<td>{{ form.password.label_tag }}</td>
					<td>{{ form.password }}</td>
				</tr>

				<tr>
					<td></td>
					<td class='submit'>
						<input type='submit' value='Sign in' />
					</td>
				</tr>
			</table>
		</form>
	</div>
{% endblock %}

{# vim:ft=htmldjango: #}
