{% extends "base.html" %}

{% block content %}
<div class="hero-unit">
    <h1>Former Developers List</h1>
    <p>List of Former Gentoo developers.</p>
</div>
<p>
<div class="row">
    <div class="span12">
        <h2>Former Developers List</h2><br />
        <table class="table table-striped sortable" >
            <tr>
                <td class="infohead"><b>Username</b></td>
                <td class="infohead"><b>Name</b></td>
                <td class="infohead"><b>Location</b></td>
                <td class="infohead"><b>Areas of responsibility</b></td>
            </tr>
            <tr>
                <td style="color:#5c4f85;"><b>mgorny</b></td>
                <td>Michał Górny</td>
                <td><a href="devmap.xml?dev=mgorny">near Poznan, Poland</a></td>
                <td class="tableinfo">-</td>
            </tr>
            <tr>
                <td class="infohead" style="color:#5c4f85;"><b>tampakrap</b></td>
                <td class="tableinfo">Theo Chatzimichos</td>
                <td class="tableinfo"><a href="devmap.xml?dev=tampakrap">Larissa, Greece</a></td>
                <td class="tableinfo">Infrastructure</td>
            </tr>
            <tr>
                <td class="infohead" style="color:#5c4f85;"><b>dastergon</b></td>
                <td class="tableinfo">Pavlos Ratis</td>
                <td class="tableinfo">Serres, Greece</td>
                <td class="tableinfo">kde</td>
            </tr> 
        </table>
    </div>
</div>
</p>
{% endblock %}  
