{% extends "base.html" %}

{% block content %}
<div class="hero-unit">
    <h1>Former Developers List</h1>
    <p>List of Former Gentoo developers.</p>
</div>
<p>
<div class="row">
    <div class="span10">
        <h2>Former Developers List</h2><br />
        <table class="table table-striped sortable" >
            <tr>
                <td class="infohead"><b>Username</b></td>
                <td class="infohead"><b>Name</b></td>
                <td class="infohead"><b>Location</b></td>
                <td class="infohead"><b>Areas of responsibility</b></td>
            </tr>
            {% for user in devlist %}
                <tr>
                    <td class="devname"><b>{{ user.username }}</b></td>
                    <td>{{ user.full_name }}</td>
                    <td><a href="http://maps.google.com/maps?q={{ user.location }}">{{ user.location }}</a></td>
                    <td class="tableinfo">{{ user.roles }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
</p>
{% endblock %}

{# vim:se fileencoding=utf8 et ts=4 sts=4 sw=4 ft=htmldjango : #}
