{% extends "base.html" %}

{% block content %}
<div class='alert' style='margin-top:20px; margin-bottom:0'>
    Gentoo Identity is currently available as an alpha version for selected users only.
</div>
<br />
<div class="hero-unit">
    <h1>Gentoo Identity</h1>
    <h3 style="padding-left:20px;">Welcome to the home of the Gentoo Identity.</h3><br />
    <p>Gentoo Identity is the central place to manage your information in Gentoo Community.</p>
</div>
<p>
<div class="row">
    <div class="span12">
        <h2>Login</h2>

        <br />
        <form action="." method="POST">{% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            {% for field in login_form %}
                {{ field.label_tag }}{{ field }}<br />
            {% endfor %}
            <input class="button" type="submit" value="Login" name="login" />
            {% if openid_request or is_otp %}
                <input type='submit' name='cancel' value='Cancel' />
            {% endif %}
        </form>
        {% if ssl_auth_form %}
            <p>
                Alternatively:
                <form action="{{ ssl_auth_uri }}" method="POST">
                    {% for field in ssl_auth_form %}
                        {{ field }}
                    {% endfor %}
                    <input type="submit" value="Login using SSL certificate" />
                </form>
            </p>
        {% endif %}
        {% if ssh_auth_command %}
            <p>
                Login via SSH:
                <code>{{ ssh_auth_command }}</code>
                and <a href="{{ next }}">continue</a>
            </p>
        {% endif %}
        {% if not is_otp %}
            <a href="/recover">Forgot your password?</a>
        {% endif %}
        <br />
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
</div>
</p>
{% endblock %}

{# vim:se fileencoding=utf8 et ts=4 sts=4 sw=4 ft=htmldjango : #}
