{% extends "base.html" %}
{% block content %}
<div class="hero-unit">
    <h1>OpenID endpoint</h1>
</div>
<p>
<div class="row">
    <div class="span12">
        <p>This URI serves as an OpenID endpoint. You should not ever
        need to access it directly.</p>

        {% if error %}
        <p>The OpenID server is unable to parse the request
        for the reason explained below:</p>

        <pre>{{ error }}</pre>
        {% endif %}
    </div>
</div>
</p>
{% endblock %}

{# vim:se fileencoding=utf8 et ts=4 sts=4 sw=4 ft=htmldjango : #}
