{% extends "base.html" %}

{% block content %}
<div id="pageRow" class="container">
    <div class="row">
        <div id="page" class="span10">
            <div>
                <h1>Gentoo Account Settings</h1>
                <h3>Change Gentoo related information.</h3>
                <div class="form well">
                    {{ gentoo_account_settings.errors }}
                    {{ gentoo_account_settings.non_field_errors }}
                    <div class="row-fluid">
                        {% if user_info.developer_bug %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Developer Bug</th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for devbug in user_info.developer_bug %}
                                <form action="." method="POST">{% csrf_token %}
                                <tr>
                                    <td><input type="hidden" name="developer_bug" value="{{ devbug }}" />{{ devbug }}</td>
                                    {% if user_info.is_recruiter %}
                                        <td><input class="btn" type="submit" name="delete_devbug" value="Delete" /></td>
                                    {% endif %}
                                </tr>
                                </form>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        {% if user_info.recruiter %}
                        <form action="." method="POST">{% csrf_token %}
                            {{ gentoo_account_settings.developer_bug.label_tag }} 
                            <input name="developer_bug" type="text" /> {{ gentoo_account_settings.developer_bug.errors|striptags }}
                            <div class="row-fluid buttons">
                                <input class="btn btn-primary" type="submit" value="Add" />
                            </div>
                        </form>
                        {% endif %}
                        <br />
                    </div>
                    <div class="row-fluid">
                        {% if user_info.gentoo_join_date %}
                            <table class="table">
                            <thead>
                                <tr>
                                    <th>Gentoo Join Date</th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for gjd in user_info.gentoo_join_date %}
                            <form action="." method="POST">{% csrf_token %}
                                <tr>
                                    <td><input type="hidden" name="gentoo_join_date" value="{{ gjd }}" />{{ gjd }}</td>
                                    {% if user_info.is_recruiter %}
                                    <td><input class="btn" type="submit" name="delete_gjd" value="Delete" /></td>
                                    {% endif %}
                                </tr>
                            </form>
                            {% endfor %}
                            </tbody>
                            </table>
                        {% endif %}
                        {% if user_info.is_recruiter %}
                            <form action="." method="POST">{% csrf_token %}
                                {{ gentoo_account_settings.gentoo_join_date.label_tag }}
                                <input name="im" type="text" /> {{ gentoo_account_settings.gentoo_join_date.errors|striptags }}
                                <div class="row-fluid buttons">
                                    <input class="btn btn-primary" type="submit" value="Add" />
                                </div>
                            </form>
                        {% endif %}
                        <br />
                    </div>
                    <div class="row-fluid">
                        {% if user_info.mentor %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Mentor</th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for mentor in user_info.mentor %}
                                <form action="." method="POST">{% csrf_token %}
                                    <tr>
                                        <td><input type="hidden" name="mentor" value="{{ mentor }}" />{{ mentor }}</td>
                                        {% if user_info.is_recruiter %}
                                        <td><input class="btn" type="submit" name="delete_mentor" value="Delete" /></td>
                                        {% endif %}
                                    </tr>
                                </form>
                                {% endfor %}
                            </tbody>
                            </table>
                        {% endif %}
                        {% if user_info.is_recuriter %}
                        <form action="." method="POST">{% csrf_token %}
                            {{ gentoo_account_settings.mentor.label_tag }}
                            <input name="mentor" type="text" /> {{ gentoo_account_settings.mentor.errors|striptags }}
                            <div class="row-fluid buttons">
                                <input class="btn btn-primary" type="submit" value="Add" />
                            </div>
                        </form>
                        {% endif %}
                        <br/>
                    </div>
                    <div class="row-fluid">
                        {% if user_info.gentoo_retire_date %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Gentoo Retire Date</th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for grd in user_info.gentoo_retire_date %}
                                <form action="." method="POST">{% csrf_token %}
                                    <tr>
                                        <td><input type="hidden" name="gentoo_retire_date" value="{{ grd }}" />{{ grd }}</td>
                                        {% if user_info.is_recruiter %}
                                        <td><input class="btn" type="submit" name="delete_grd" value="Delete" /></td>
                                        {% endif %}
                                    </tr>
                                </form>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        {% if user_info.is_recruiter %}
                        <form action="." method="POST">{% csrf_token %}
                            {{ gentoo_account_settings.gentoo_retire_date.label_tag }}
                            <input name="gentoo_retire_date" type="text" /> {{ gentoo_account_settings.gentoo_retire_date.errors|striptags }}
                            <div class="row-fluid buttons">
                                <input class="btn btn-primary" type="submit" value="Add" />
                            </div>
                        </form>
                        {% endif %}
                        <br/>
                    </div>
                    {% if user_info.is_developer %}
                        <form action="." method="POST">{% csrf_token %}
                            <div class="row-fluid">
                                {{ gentoo_account_settings.planet_feed.label_tag }}
                                <input name="planet_feed" type="text" value="{{ user_info.planet_feed }}" /> {{ gentoo_account_settings.planet_feed.errors|striptags }}
                            </div>
                            <div class="row-fluid">
                                {{ gentoo_account_settings.universe_feed.label_tag }}
                                <input name="universe_feed" type="text" value="{{ user_info.universe_feed }}" /> {{ gentoo_account_settings.universe_feed.errors|striptags }}
                            </div>
                            <br />
                            <div class="row-fluid buttons">
                                <input class="btn btn-primary" type="submit" value="Update" />
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{# vim:se fileencoding=utf8 et ts=4 sts=4 sw=4 ft=htmldjango : #}
